body{
  font-family: Arial, Helvetica, sans-serif;
}

#timer {
  text-align: right;
}

header {
  padding: 20px 40px 20px 40px;
}

main {
  display: block;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 95%;
  margin: auto;
  padding: 10px;
}

.btn {
  border: none;
  background-color: #008C8F;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  width: 250px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
}

.quizContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
  text-align: left;
  justify-content: left;
}

.submit {
  border: none;
  background-color: #008C8F;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  margin: 16px 16px 16px 0px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  width: 150px;
}

.quizContainer .options {
  line-height: 45px;
  text-align: left;
  width: 90%;
  margin: auto
}

.quizContainer #response {
  font-size: 30px;
  line-height: 45px;
  border-top: 2px solid #008C8F ;
  width: 100%;
  margin: auto;
  text-align: center;
}

.nameEntryContainer {
  display: flex;
  flex-direction: column;
  /* border-color: red;
  border-style: solid;
  border-width: 3px; */
  width: 50%;
  margin: auto;
}

#yourScore {
  font-size: 25px;
  font-weight: bold;
}
